Package                       Version
----------------------------- -------------------------
ablog                         0.10.19
absl-py                       1.0.0
affine                        2.3.0
aiohttp                       3.8.1
aiosignal                     1.2.0
alabaster                     0.7.12
altair                        4.2.0
analytics-python              1.2.9
ansi2html                     1.6.0
anyascii                      0.3.0
anyio                         3.3.4
appdirs                       1.4.4
argon2-cffi                   21.1.0
asgiref                       3.5.0
astor                         0.8.1
astunparse                    1.6.3
async-timeout                 4.0.2
attrs                         21.2.0
autocorrect                   2.5.0
azure-common                  1.1.27
azure-core                    1.19.0
azure-identity                1.6.1
azure-mgmt-core               1.3.0
azure-mgmt-storage            19.0.0
azure-storage-blob            12.9.0
azure-storage-file-datalake   12.5.0
Babel                         2.9.1
backcall                      0.2.0
backoff                       1.11.1
base58                        2.1.1
bcrypt                        3.2.0
beautifulsoup4                4.9.3
black                         22.1.0
bleach                        4.0.0
blinker                       1.4
blis                          0.7.4
block-timer                   0.2.0
blockdiag                     2.0.1
bokeh                         2.3.3
branca                        0.4.2
Brotli                        1.0.9
bs4                           0.0.1
cachetools                    5.0.0
catalogue                     2.0.6
certifi                       2021.5.30
cffi                          1.14.6
charset-normalizer            2.0.6
click                         8.0.3
cloud-sptheme                 1.10.1.post20200504175005
cloudpickle                   2.0.0
commonmark                    0.9.1
contractions                  0.0.55
cryptography                  36.0.1
css-html-js-minify            2.5.5
cssselect                     1.1.0
cupy-cuda101                  9.3.0
cycler                        0.10.0
cyksuid                       1.1.0
cymem                         2.0.5
Cython                        0.29.24
dash                          1.21.0
dash-bootstrap-components     0.13.1
dash-colorscales              0.0.4
dash-core-components          1.17.1
dash-daq                      0.5.0
dash-html-components          1.1.4
dash-table                    4.12.0
dask                          2022.3.0
datarum                       0.3.0
dateparser                    1.0.0
decorator                     5.0.9
defusedxml                    0.7.1
demjson                       2.2.4
Deprecated                    1.2.13
descartes                     1.1.0
dgl                           0.6.1
dicttoxml                     1.7.4
dill                          0.3.4
distributed                   2022.3.0
docutils                      0.17.1
dtale                         1.57.0
EasyProcess                   1.1
en-core-web-lg                3.1.0
en-core-web-sm                3.1.0
entrypoint2                   1.0
entrypoints                   0.3
et-xmlfile                    1.1.0
facebook-scraper              0.2.46
fake-useragent                0.1.11
fastapi                       0.65.3
fastrlock                     0.6
FCD                           1.1
feedfinder2                   0.0.4
feedgen                       0.9.0
feedparser                    6.0.8
ffmpy                         0.3.0
filelock                      3.0.12
Fiona                         1.8.20
Flask                         2.0.1
Flask-Compress                1.10.1
flask-ngrok                   0.0.25
flatbuffers                   2.0
folium                        0.12.1
frozenlist                    1.3.0
fsspec                        2022.1.0
funcparserlib                 0.3.6
funcy                         1.17
furo                          2021.8.31
future                        0.18.2
gast                          0.5.3
GDAL                          3.4.1
gensim                        3.8.3
geographiclib                 1.52
geograpy3                     0.2.1
geomdl                        5.3.1
geopandas                     0.9.0
geopy                         2.2.0
gitdb                         4.0.9
GitPython                     3.1.27
gmplot                        1.4.1
google-auth                   2.6.0
google-auth-oauthlib          0.4.6
google-cloud                  0.34.0
google-pasta                  0.2.0
gradio                        2.7.5.2
greenlet                      1.1.1
groundwork-sphinx-theme       1.1.1
grpcio                        1.43.0
guacamol                      0.5.4
h11                           0.12.0
h5py                          3.4.0
hachibee-sphinx-theme         0.2.5
HeapDict                      1.0.1
htmlmin                       0.1.12
httpcore                      0.14.5
httpx                         0.21.3
huggingface-hub               0.0.17
hupper                        1.10.3
hyperopt                      0.2.5
hypothesis                    6.36.1
idna                          3.2
ImageHash                     4.2.1
imagesize                     1.2.0
imbalanced-learn              0.8.0
importlib-metadata            4.8.1
importlib-resources           5.2.2
iniconfig                     1.1.1
insegel                       1.1.0
insipid-sphinx-theme          0.2.7
instaloader                   4.8.1
invoke                        1.6.0
ipykernel                     5.5.5
ipympl                        0.8.7
ipython                       7.26.0
ipython-genutils              0.2.0
ipython-sql                   0.4.0
ipywidgets                    7.6.5
isodate                       0.6.0
itsdangerous                  2.0.1
jedi                          0.18.0
jellyfish                     0.8.8
jieba3k                       0.35.1
Jinja2                        3.0.2
joblib                        1.0.1
json5                         0.9.6
jsonpickle                    2.0.0
jsonschema                    3.2.0
jupyter-client                7.0.0
jupyter-core                  4.7.1
jupyter-dash                  0.4.0
jupyter-server                1.11.1
jupyterlab                    3.2.1
jupyterlab-iframe             0.4.0
jupyterlab-pygments           0.1.2
jupyterlab-server             2.8.2
jupyterlab-widgets            1.0.2
kaleido                       0.2.1
karma-sphinx-theme            0.0.8
keras                         2.8.0
Keras-Preprocessing           1.1.2
kiwisolver                    1.3.1
kotti-docs-theme              0.2
langcodes                     3.2.1
langdetect                    1.0.7
libclang                      13.0.0
lightgbm                      3.3.2
llvmlite                      0.36.0
locket                        0.2.1
loess                         2.1.2
loguru                        0.5.3
lxml                          4.6.3
lz4                           3.1.3
Maisie-Sphinx-Theme           0.1.2
Markdown                      3.3.6
markdown2                     2.4.2
MarkupSafe                    2.0.1
matplotlib                    3.4.3
matplotlib-inline             0.1.2
matplotlib-venn               0.11.6
memory-profiler               0.58.0
missingno                     0.4.2
mistune                       0.8.4
mizani                        0.7.3
mozilla-sphinx-theme          0.2
mpmath                        1.2.1
msal                          1.15.0
msal-extensions               0.3.0
msgpack                       1.0.2
msrest                        0.6.21
multidict                     6.0.2
multimethod                   1.6
murmurhash                    1.0.5
murray                        0.6.4
mypy                          0.910
mypy-extensions               0.4.3
mysql                         0.0.3
mysqlclient                   2.0.3
nbclassic                     0.3.2
nbclient                      0.5.4
nbconvert                     6.1.0
nbformat                      5.1.3
nest-asyncio                  1.5.1
networkx                      2.6.3
newspaper3k                   0.2.8
nltk                          3.6.4
notebook                      6.4.4
numba                         0.53.1
numexpr                       2.7.3
numpy                         1.21.2
oauthlib                      3.2.0
opencv-python                 4.5.4.58
openpyxl                      3.0.9
opt-einsum                    3.3.0
ortools                       9.1.9490
packaging                     21.0
palettable                    3.3.0
pandas                        1.3.3
pandas-profiling              3.1.0
pandocfilters                 1.4.3
paramiko                      2.9.2
parse                         1.19.0
parso                         0.8.2
partd                         1.2.0
PasteDeploy                   2.1.1
pathspec                      0.9.0
pathy                         0.6.0
patool                        1.12
patsy                         0.5.1
pdoc                          7.4.0
pep517                        0.8.2
pexpect                       4.8.0
phik                          0.12.0
pickleshare                   0.7.5
Pillow                        9.0.0
pip                           21.3.1
plaster                       1.0
plaster-pastedeploy           0.7
platformdirs                  2.5.0
plotbin                       3.1.3
plotly                        5.6.0
plotnine                      0.8.0
pluggy                        0.13.1
pmdarima                      1.8.5
portalocker                   1.7.1
ppscore                       1.2.0
preshed                       3.0.5
prettytable                   0.7.2
progress                      1.6
progressbar2                  4.0.0
prometheus-client             0.11.0
prompt-toolkit                3.0.19
protobuf                      3.19.1
psutil                        5.8.0
psycopg2-binary               2.9.1
ptyprocess                    0.7.0
py                            1.10.0
pyahocorasick                 1.4.2
pyarrow                       4.0.1
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycparser                     2.20
pycryptodome                  3.14.0
pydantic                      1.8.2
pydeck                        0.7.1
pydub                         0.25.1
pyee                          8.2.2
pyflakes                      2.4.0
Pygments                      2.10.0
PyJWT                         2.1.0
pyLDAvis                      3.3.1
pylodstorage                  0.0.74
Pympler                       1.0.1
pymssql                       2.2.4
PyMySQL                       1.0.2
PyNaCl                        1.5.0
pyodbc                        4.0.32
pyparsing                     2.4.7
pyppeteer                     0.2.6
pyproj                        3.1.0
pyquery                       1.4.3
pyramid                       2.0
pyreadr                       0.4.2
pyrsistent                    0.18.0
PySimpleGUI                   4.56.0
pysolr                        3.9.0
pytesseract                   0.3.8
pytest                        6.2.4
pytest-datafiles              2.0
python-dateutil               2.8.2
python-docs-theme             2021.8
python-dotenv                 0.18.0
python-multipart              0.0.5
python-slugify                6.1.1
python-utils                  3.1.0
pytz                          2021.1
pyunpack                      0.2.2
PyWavelets                    1.1.1
PyYAML                        5.4.1
pyzmq                         22.2.1
rasterio                      1.2.10
rdflib                        6.0.1
rdkit-pypi                    2021.9.4
regex                         2021.8.3
renku-sphinx-theme            0.2.2
requests                      2.26.0
requests-file                 1.5.1
requests-html                 0.10.0
requests-oauthlib             1.3.1
requests-unixsocket           0.2.0
retrying                      1.3.3
rfc3986                       1.5.0
rich                          12.0.1
rpy2                          3.4.5
rsa                           4.8
sacremoses                    0.0.45
scikit-learn                  0.24.2
scipy                         1.7.1
seaborn                       0.11.2
selenium                      3.141.0
semver                        2.13.0
Send2Trash                    1.8.0
sentence-transformers         2.1.0
sentencepiece                 0.1.96
setuptools                    58.5.3
sgmllib3k                     1.0.0
shap                          0.40.0
Shapely                       1.7.1
six                           1.16.0
sklearn                       0.0
sktime                        0.10.1
slicer                        0.0.7
smart-open                    5.2.1
smmap                         5.0.0
sniffio                       1.2.0
snowballstemmer               2.1.0
solar-theme                   1.3.3
sortedcontainers              2.4.0
soupsieve                     2.2.1
spacy                         3.2.3
spacy-langdetect              0.1.2
spacy-legacy                  3.0.8
spacy-loggers                 1.0.1
SPARQLWrapper                 1.8.5
Sphinx                        4.1.2
sphinx-adc-theme              0.1.7
sphinx-bernard-theme          0.1.12
sphinx-better-theme           0.1.5
sphinx-bootstrap-theme        0.7.1
sphinx-celery                 2.0.0
sphinx-documatt-theme         0.0.5
sphinx-material               0.0.34
sphinx-nameko-theme           0.0.3
sphinx-pdj-theme              0.2.1
sphinx-press-theme            0.8.0
sphinx-readable-theme         1.3.0
sphinx-redactor-theme         0.0.1
sphinx-rtd-theme              0.5.2
sphinx-sizzle-theme           0.0.9
sphinx-theme-pd               0.8.3
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-blockdiag       2.0.0
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
sphinxjp.themes.basicstrap    0.5.0
SQLAlchemy                    1.4.23
SQLAlchemy-Utils              0.37.8
sqlparse                      0.4.1
squarify                      0.4.3
srsly                         2.4.1
starlette                     0.14.2
statsmodels                   0.12.2
streamlit                     1.7.0
strsimpy                      0.2.1
sweetviz                      2.1.3
sympy                         1.9
tables                        3.6.1
tabulate                      0.8.9
tangled-up-in-unicode         0.1.0
tblib                         1.7.0
tenacity                      8.0.1
tensorboard                   2.8.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.1
tensorboardX                  2.4.1
tensorflow                    2.8.0
tensorflow-io-gcs-filesystem  0.23.1
termcolor                     1.1.0
terminado                     0.12.1
testpath                      0.5.0
text-unidecode                1.3
textsearch                    0.0.21
tf-estimator-nightly          2.8.0.dev2021122109
thinc                         8.0.12
threadpoolctl                 2.2.0
tibas.tt                      0.3.1
tika                          1.24
tinysegmenter                 0.3
tldextract                    3.1.2
tokenizers                    0.10.3
toml                          0.10.2
tomli                         2.0.1
toolz                         0.11.2
torch                         1.10.0
torchvision                   0.11.1
tornado                       6.1
tornado-proxy-handlers        0.0.5
tqdm                          4.62.3
traitlets                     5.0.5
transformers                  4.11.3
translationstring             1.4
twilio                        6.63.0
typer                         0.4.0
typing_extensions             4.0.1
tzlocal                       3.0
ujson                         4.2.0
Unidecode                     1.2.0
urllib3                       1.26.7
uvicorn                       0.17.1
validators                    0.18.2
venusian                      3.0.0
visions                       0.7.4
w3lib                         1.22.0
wasabi                        0.8.2
watchdog                      2.1.5
wcwidth                       0.2.5
webcolors                     1.11.1
webencodings                  0.5.1
WebOb                         1.8.7
websocket-client              1.2.1
websockets                    9.1
Werkzeug                      2.0.1
wheel                         0.37.0
widgetsnbextension            3.5.1
wordcloud                     1.8.1
wrapt                         1.13.3
xarray                        0.19.0
xgboost                       1.4.2
xlrd                          2.0.1
yarl                          1.7.2
yummy-sphinx-theme            0.1.1
zerovm-sphinx-theme           1.1
zict                          1.0.0
zipp                          3.6.0
zope.deprecation              4.4.0
zope.interface                5.4.0
